<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" #inputName>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" #inputDescription>
    </div>
    <img 
        src="" 
        alt="" 
        class="img-responsive"
        style="max-height:50px;">

    <app-button-save (onClick)="onSaveClick()"></app-button-save>
</form>